/* prevent problems */
*{box-sizing: border-box;}

/* body elements---------------- */

body {
    color: #eee;
    background-color: #222;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header elements ------------- */

header {
    padding: 1rem 3%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

header div {
    padding-left: 2%;
}

header h1 {
    color: #eee;
    background-color: #222;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* navigation elements --------- */

/*small screen */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        margin-bottom: 25px;
        padding: 0 2%;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        border-bottom: solid 1px #393939;
        color: #eee;
    }
    nav .active a {
        background-color: #f7d259;
        background-image: linear-gradient(#f7d259, #dab439);
        color: #222;
        border-radius: 10px;
    }
    
}/* end of media query */

/*big screen*/
@media only screen and (min-width: 601px) {
nav ul{
    color: #f7d259;
    margin: 0;
    margin-bottom: 25px;
    display: flex;
    list-style-type: none;    
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #f7d259;
    padding: .925rem;
}

nav a:hover {
    color: #eee;
    background-color: #393939;
    border-radius: 10px;
}

nav li.active a {
    color: #eee;
}

}/* end of media query */

/* main elements --------------- */

main p {
    margin: 0 3% 25px;
    padding: 0 0 25px;
    font-size: 1.1rem;
}


main h1 {
    margin: 0 3%;
    margin-bottom: 25px;
    font-size: 2rem;

}

main h2 {
    margin: 0 3% 20px;
    font-size: 2rem;
}

.headphones {
    width: 100%;
    margin: 0;
}

.headphones img {
    width: 100%;
    height: auto;
}

main dl {
    margin: 0 3% 25px;
    padding: 0 0 25px 0;
}

main dl a {
    color: #f7d259;
}
main dd {
    margin: 5px 1%;
}


main figure {

    margin-left: 3%;
    color: #f7d259;
    display: block;

}

main figcaption.audio {
    color: #eee;
}

main figure.topbutton {
    padding: .925rem;
    margin: 0 3% 0 3%;
    background-color: #f7d259;
    border-radius: 10px;
    text-align: center;
    max-width: 24rem;
}
main figure.topbutton:hover {
    background-color: #eee;
}

main figure.topbutton a {
    color: #222;
    text-decoration: none;



}
    

main a {
    color: #f7d259;
    font-weight: 600;
    font-size: 1.1rem;

}

main a:hover {
    color: #eee;
}

main ul {
    margin: 0 1% 50px;
    
   
}

main ol {
    margin: 0 1% 25px;
    list-style-type: disc;
}

main address {
    margin: 0 3% 25px 3%;
    padding: 10px 25px 10px 25px;
    font-style: normal;
    background-color: #393939;
    border-color: #f7d259;
    border: 1px solid #f7d259;
    border-radius: 5px;
    max-width: 24rem;
}

/* Images --------- */

figure.wrapped {
    width: 30%;
    float: right;
    margin: 0 0 0 2%;
}

figure.wrapped img {
    width: 100%;
    height: auto;

}

figure.wrapped figcaption {
    text-align: center;
    font-size: .9rem;
    color: #f7d259;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 3%;

}

div.gallery figure {
    margin: .5rem 2% 25px 0;

}

div.gallery figcaption {
    text-align: center;
    font-size: .9rem;
    color: #f7d259;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.gallery img {
    border-radius: 4px;
}

/* Form Elements--------- */

.myform fieldset {
    border: 1px solid #f7d259;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #f7d259;
    font-size: .9rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
    display: block;
}

.myform [type-text], .myform [type-tel], .myform [type-email], .myform select, .myform textarea {
    border: solid 1px #f7d259;
    background-color: #393939;
    color: white;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Rubik", sans-serif;
    font-weight: 200;
}
.myform textarea {
    height: 6rem;
    color: white;  

}


.myform :required {
    background-color: #3d3030;
    color: white;
}

.myform [type=submit] {
    background-color: #f7d259;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #222;
    margin: 1rem 0 25px 1%;
    
}

.myform input.sendbutton {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}


.myform input.sendbutton:hover {
    background-color: #eee;
}

/* table elements -------------*/
table.licensing {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table.licensing th {
    background-color: #f7d259;
    color: #222;
    padding: .5rem 2%;
    text-align: left;


}

table.licensing td {
    color: #eee;
    padding: .4rem 2vw;
}

table.licensing tr:nth-child(odd) {
    background-color: #393939;
}

table.licensing tr:hover {
    background-color: rgba(247, 210, 89,.2);
}

audio.reviews {
    margin-bottom: 25px;
    display: block;
}

iframe {
    margin-bottom: 25px;
}


/* footer elements ------------- */

footer {
    text-align: center;
    padding: .5rem 0;
    font-size: .8rem;
}

footer a {
    color: #f7d259;
}

footer a:hover {
    color: #eee;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}